
body{
  margin: 0;
}
header{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  text-align: center;
  background-color: rgb(39, 0, 3);
  width: auto;
  height: 80px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


